@{
    ViewData["Title"] = "Home Page";
}



@if (ViewData.TryGetValue("amount", out var amount))
{
    <script>alert('Thanks for donating of $@amount.')</script> 
}
else
{
    <form asp-action="Index" method="post">
        <div>amount to donate</div><input type="number" name="amount" />
        <input type="submit" name="submit" value="donate" />
    </form>
}